&
	background-color : $color-3rd
	padding          : 0.5rem
a
	{$font-2nd}
	color           : $color-2nd
	text-decoration : none
	font-size       : 0.8rem

	strong
		color : $color-1st
	span
		color           : $color-2nd-lighter
		text-decoration : underline