@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,700|Roboto:400,300');

$font-1st =
	font-family: 'Roboto', sans-serif
	font-weight: 300

$font-2nd =
	font-family: 'Ubuntu', sans-serif
	font-weight: 400

$font-1st-bold =
	{$font-1st}
	font-weight: 400

$font-2nd-bold =
	{$font-2nd}
	font-weight: 700


body
	{$font-1st}
	color            : $color-black
	font-size        : 100%
	font-smoothing   : antialiased
	font-size-adjust : auto
	text-size-adjust : 100%
	line-height      : 1.125em